body {
  background: rgb(255, 248, 0);
  background: radial-gradient(
    circle,
    rgba(255, 248, 0, 1) 0%,
    rgba(237, 114, 42, 1) 18%
  );

  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.my_name,
.my_formation,
.nom_projet {
  color: #212121;
}

.dev_web {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

header {
  height: 40px;
  text-align: center;
  padding: 2rem;
}

.me {
  max-inline-size: 250px;
  position: absolute;
  left: 65%;
  top: 13%;
}
.FDD {
  /* FDD = Fruit du démon */
  max-width: 100px;
  max-height: 100px;
}

p {
  color: #757575;
  line-height: 2rem;
}

section {
  margin: 2rem;
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background: rgb(229, 237, 42);
  background: radial-gradient(
    circle,
    rgba(229, 237, 42, 1) 9%,
    rgba(255, 0, 0, 1) 51%
  );
}

a:hover {
  background-color: #424242;
}
footer {
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 1rem;
  }
}
